<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="room">
            <h2><span>Room</span> {{room.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{room.type}}</span>
                </dd>
                <dt><span>Num Of Beds</span></dt>
                <dd>
                    <span>{{room.numOfBeds}}</span>
                </dd>
                <dt><span>Room Number</span></dt>
                <dd>
                    <span>{{room.roomNumber}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="room.image">
                        <a (click)="openFile(room.imageContentType, room.image)">
                            <img [src]="'data:' + room.imageContentType + ';base64,' + room.image" style="max-width: 100%;" alt="room image"/>
                        </a>
                        {{room.imageContentType}}, {{byteSize(room.image)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/room', room.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
